html
{
  scroll-behavior: smooth;
}
body {
  background-color: white;
}

.navbar
{
  background-color: white;
}

.buttons
{
  border-radius: 50px;
}

.jumbotron
{
  margin-bottom: 0px;
}

.youCanText
{
  font-size: 2.1em;
}

.margin-bottom
{
  margin-bottom: 40px;
}

.button-margin
{
  margin-right: 5px;
}

.padding-left
{
  padding-top: 25px;
  padding-left: 200px;
}

/* CAROUSEL  */
.slider-area
{
  padding: 50px 0;
  position: relative;
  margin: 0;
}

.img-area 
{
  width: 100px;
  height: 100px;
  margin: auto;
  overflow: hidden;
}

.img-area img
{
  width: 100%;
}

.carousel-caption
{
  position: static;
  padding-bottom: 15px;
  padding-top: 20px;
}

.carousel-indicators
{
  bottom: -35px;
}

/* END OF CAROUSEL  */

.respic
{
  border-radius: 50%;
}

/* forms */

.form-control:focus{
  border-color: green;
}

.form-check-input.is-valid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label
{
  color: grey;
}

.s-device
{
  font-size: 2.5em;
}

.p-top
{
  padding-top: 80px;
}


.border-radius-first
{
  border-radius: 15px 0 0 15px;
}

.border-radius-last
{
  border-radius: 0 15px 15px 0;
}




/* FOR DEVICES */
@media (min-width: 320px) and (max-width: 1199px) {
  .align-center
  {
    text-align: center;
  }
  .app-button
  {
    margin-bottom: 15px;
  }
  .padding-left
  {
    padding-top: 0px;
    padding-left: 0px;
  }
  
  .middle 
  {
    width: 100%;
    margin: auto;
  }
}

@media (min-width: 320px) and (max-width: 991px) {
  .button-margin
  {
    margin-bottom: 5px;
    margin-right: 0px;
    padding-left: 5px;
  }

  .buttons
  {
    padding-left: 100px;
    padding-right: 100px;
  }

  .s-device
  {
    font-size: 1.5em;
    text-align: center;
  }
}

@media (min-width: 320px) and (max-width: 720px) {
  .button-margin
  {
    margin-bottom: 5px;
    margin-right: 0px;
    padding-left: 5px;
  }

  .buttons
  {
    padding-left: 100px;
    padding-right: 100px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .p-top
  {
    padding-top: 10px;
  }
  .border-radius-first
{
  border-radius: 15px 15px 0 0;
}

.border-radius-last
{
  border-radius: 0 0 15px 15px;
}
}

/* TEXT ADJUSMENT */
@media (min-width: 320px) and (max-width: 440px) {
  .small-device{
    font-size: 2em;
  }
  .smaller-device 
  {
    font-size: 1.4em;
  }
  .padding-left
  {
    padding-top: 10px;
    padding-left: 0px;
  }
  .bold-small
  {
    font-weight: bold;
  }
}




